@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.checkbox {
  @apply absolute  cursor-pointer h-0 w-0;
}

.checkmark {
  @apply absolute top-0 left-0 h-6 w-6 bg-transparent border-[2px] rounded-md border-yellow cursor-pointer;
}

.checkmark::after {
  @apply content-[""] absolute hidden left-[6px] top-0 w-2 h-4 [border-width:0px_2px_2px_0px] border-yellow rotate-45;
}

.checkbox:checked ~ .checkmark::after {
  @apply block;
}
